
body{
 
  background-color:rgb(0, 255, 191);
  }
.link{
  text-align:center;
   }
  .p{
    text-align:center;
    }
    .h
    {
      text-align:center;
      }
 .k{
   font-color:white;
   }
.r{
  text-align:center;
  
  }
  .i{
    text-align:center;
    }
